@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=New+Rocker&family=UnifrakturMaguntia&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "MedievalSharp", cursive;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg-beach.jpg);
    background-size: cover;
}

main{
    width: 300px;
    min-height: 300px;
    position: relative;
    border: 1px solid #3f4b4bb3;
    padding: 76px 16px 16px 16px;
    border-radius: 16px;
    background-color:#3f4b4bb3;
    backdrop-filter: blur(2px);
    color: white    ;
}

.perfil{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
    border-radius:50%;
    border:2px solid #3f4b4b;
    background-color: #3f4b4b;
}

.perfil .foto,
.perfil .logo{
    width: 120px;
    height: 120px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .8s;
    transform-style: preserve-3d;
    
    img {
        width: 100%;
        display: block;
    }
}

.foto{
    background-color: #3f4b4b;
}

.logo{
    background-color: #3f4b4b;
    transform: rotateY(180deg);
}

.perfil:hover .foto{
    transform: rotateY(180deg);
}

.perfil:hover .logo{
    transform: rotateY(360deg);
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li{
    list-style-type: none;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    border: 1px solid rgb(12 42 53);
    border-radius: 8px;
    background-color:rgb(12 42 53);
    transition: .5s;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: rgb(12 42 53);
}

h1{
    font-family: "UnifrakturMaguntia", cursive;
    text-align: center;
}

p{
    text-align: center;
    margin: 16px 0;
}

